h2 {
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    align-content: center;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: rgb(240, 240, 240);
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bb8;
    color: white;
    font-weight: bold;
}

tr:hover {
    background-color: #ddd;
}