*{
    justify-content: center;
}
h1{
    color: #0071e2;
    text-align: center;
    margin-top: 50px;
}
#container
{ border:1px solid blue;
background:gray;
float:left;
top: 60px;}
table{
    margin: auto;
    border: 1px solid rgb(26, 96, 154);
    border-collapse: collapse;
}
th, td{
    border: 1px solid rgb(26, 96, 154);
    padding: 10px;
}
thead{
    background-color: rgb(165, 216, 255);
    text-align: center;
    font-weight: bold;
    border: 1px solid rgb(43, 174, 255);
    color:#004d99
}
.selected{
    background-color: #f4e4ff;
}
.error_price{
    color: #ff0000;
    font-weight: bold;
}
