h1 {
    background: linear-gradient(to right, #ff0000, #ff00d9, #9900ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
}
*{
 margin:0;
 padding:0;
 align:center;
 justify-content: center; 
}
#container
{ border:1px solid rgb(0, 213, 255);
background:rgb(183, 226, 255);
float:left;
top: 60px;
text-indent:0px;
width: 100%;
height: 30px;
text-align:center
}
#container ul{
float:left;
list-style:none
}
#container ul li{
position:relative;
float:left;
padding-right: 2px;
padding-left:2px
}
#container ul li a
{
display:block;
color:black;
font-weight:bold;
text-decoration:none;
padding:.3em 6px;

}
#container li a:hover
{   color:white;
    background:rgb(148, 212, 255);
}
#container li ul
{position:absolute;
display:none;
width:10em;
background-color:white;
}
#container li:hover ul {
 display:block;
}
#container ul li ul li{
 width:100%;
 border:1px solid rgb(0, 153, 255)
}