table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color:rgb(255, 211, 242);
}

th {
    background-color: #f6d6ff;
    color: rgb(183, 13, 134);
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

td {
    padding: 12px;
}

tbody tr:hover {
    background-color: #fbcdff;
}

tbody tr:nth-child(even) {
    background-color: #ffcfeb;
}